<%--
  Created by IntelliJ IDEA.
  User: Admin
  Date: 11.02.2021
  Time: 13:53
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<h1>Hello world</h1>
<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
</body>
</html>
